@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3  " style="margin-top: 10rem">


    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-white">foods View</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="New" class="btn btn-success">
                <i class="bi bi-plus"></i> &nbsp; Add New food
            </a>
        </div>
    </div>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">
                    Category Name
                </th>
                <th scope="col">
                    Description
                </th>
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var food in Model)
            {
                <tr class="table-primary">
                    <td scope="row" width="30%">
                        @food.Name
                    </td>
                        <td scope="row" width="30%">
                        @food.Description
                        </td>
                    <td>
                        <a asp-controller="Category" asp-action="Edit" asp-route-Id="@food.Id" class="btn btn-sm btn-success">
                            <i class="bi bi-pencil"></i>
                        </a>
                        &nbsp;
                        <a asp-controller="Category" asp-action="Delete" asp-route-Id="@food.Id" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


