@model Order
@{
    ViewData["Title"] = "New";
}

<form method="post" style="margin-top: 10rem">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-white">Add New Order</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
       
        <div>
            <label asp-for="FoodId"></label>
            <select asp-for="FoodId" class="form-control" asp-items="@ViewBag.FoodList">
            </select>
            <span asp-validation-for="FoodId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="CreatedDate"></label>
            <input asp-for="CreatedDate" class="form-control" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ClientName"></label>
            <input asp-for="ClientName" class="form-control" />
            <span asp-validation-for="ClientName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ClientPhone"></label>
            <input asp-for="ClientPhone" class="form-control" />
            <span asp-validation-for="ClientPhone" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ClientAddress"></label>
            <input asp-for="ClientAddress" class="form-control" />
            <span asp-validation-for="ClientAddress" class="text-danger"></span>
        </div>

        

        

       
        <br />
        <hr />
        <button type="submit" class="btn btn-primary" style="width:150px">Save</button>
        <a asp-action="Index" asp-controller="Orders" class="btn btn-secondary" style="width:150px">
            back to orders
        </a>
    </div>
</form>





