<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

@if (TempData["successData"] != null)
{

        <h3 style="color:#3b9545;">
        @TempData["successData"]
    </h3>

  
}


@if (TempData["errorData"] != null)
{
        <h3 style="color:#BB2D3B;">
        @TempData["errorData"]
    </h3>

   
}
